In [26]:
import mysql.connector
import pandas as pd

In [23]:
config = {
  'user': 'root',
  'password': 'password',
  'host': '20.19.2.193',
  'database': 'mydatabase',
  'port': 3306
}

In [24]:
# Connectez-vous à la base de données
cnx = mysql.connector.connect(**config)

In [27]:
# Définissez la requête
query = """
            SELECT Age, COUNT(*) AS Frequency
            FROM fertilite
            GROUP BY Age
            ORDER BY Age;
                """

# Exécutez la requête et lisez les résultats dans un DataFrame
df = pd.read_sql_query(query, cnx)

# Fermez la connexion
cnx.close()

df.head()

C:\Users\IKmai\AppData\Local\Temp\ipykernel_22024\3614850055.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, cnx)

   Age  Frequency
0   27          7
1   28         28
2   29          5
3   30         27
4   31          2