In [4]:
import pandas as pd

In [60]:
chemin_vers_csv = "../data/fertility.csv"
df = pd.read_csv(chemin_vers_csv)

# Exploration des données

In [10]:
df.head()

,Season,Age,Childish diseases,Accident or serious trauma,Surgical intervention,High fevers in the last year,Frequency of alcohol consumption,Smoking habit,Number of hours spent sitting per day,Diagnosis
0,spring,30,no,yes,yes,more than 3 months ago,once a week,occasional,16,Normal
1,spring,35,yes,no,yes,more than 3 months ago,once a week,daily,6,Altered
2,spring,27,yes,no,no,more than 3 months ago,hardly ever or never,never,9,Normal
3,spring,32,no,yes,yes,more than 3 months ago,hardly ever or never,never,7,Normal
4,spring,30,yes,yes,no,more than 3 months ago,once a week,never,9,Altered

In [13]:
df.nunique()

Season                                    4
Age                                      10
Childish diseases                         2
Accident or serious trauma                2
Surgical intervention                     2
High fevers in the last year              3
Frequency of alcohol consumption          5
Smoking habit                             3
Number of hours spent sitting per day    14
Diagnosis                                 2
dtype: int64

In [18]:
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Season                                 100 non-null    object
 1   Age                                    100 non-null    int64
 2   Childish diseases                      100 non-null    object
 3   Accident or serious trauma             100 non-null    object
 4   Surgical intervention                  100 non-null    object
 5   High fevers in the last year           100 non-null    object
 6   Frequency of alcohol consumption       100 non-null    object
 7   Smoking habit                          100 non-null    object
 8   Number of hours spent sitting per day  100 non-null    int64
 9   Diagnosis                              100 non-null    object
dtypes: int64(2), object(8)
memory usage: 7.9+ KB

# Transformation des données

In [61]:
df['Childish diseases'] = df['Childish diseases'].map({'yes': 1, 'no': 0})

In [62]:
df['Accident or serious trauma'] = df['Accident or serious trauma'].map({'yes': 1, 'no': 0})

In [63]:
df['Surgical intervention'] = df['Surgical intervention'].map({'yes': 1, 'no': 0})

In [64]:
df['High fevers in the last year'] = df['High fevers in the last year'].map({
    'more than 3 months ago': 2,
    'less than 3 months ago': 1,
    'no': 0
})

In [65]:
df['Diagnosis'] = df['Diagnosis'].map({'Normal': 0, 'Altered': 1})

In [66]:
# Pour la colonne "Frequency of alcohol consumption" (once a week/several times a week/hardly ever or never/every day)
df['Frequency of alcohol consumption'] = df['Frequency of alcohol consumption'].map({
    'once a week': 1,
    'several times a week': 2,
    'hardly ever or never': 0,
    'every day': 3
})

In [70]:
#df_season = pd.get_dummies(df['Season'], columns=['Season'])
#df_season = df_season.astype(int)

In [74]:
#df_season.head()

   fall  spring  summer  winter
0     0       1       0       0
1     0       1       0       0
2     0       1       0       0
3     0       1       0       0
4     0       1       0       0

In [79]:
# Pour la colonne "Frequency of alcohol consumption" (once a week/several times a week/hardly ever or never/every day)
df['Season'] = df['Season'].map({
    'spring': 0,
    'fall': 1,
    'winter': 2,
    'summer': 3
})

In [78]:
df['Season'].unique()

array(['spring', 'fall', 'winter', 'summer'], dtype=object)

In [80]:
df.head()

,Season,Age,Childish diseases,Accident or serious trauma,Surgical intervention,High fevers in the last year,Frequency of alcohol consumption,Smoking habit,Number of hours spent sitting per day,Diagnosis
0,0,30,0,1,1,2,1.0,occasional,16,0
1,0,35,1,0,1,2,1.0,daily,6,1
2,0,27,1,0,0,2,0.0,never,9,0
3,0,32,0,1,1,2,0.0,never,7,0
4,0,30,1,1,0,2,1.0,never,9,1